.center {
    text-align: center;
}

.logout {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    width: 4rem;
    text-align: center;
    position: absolute;
    text-decoration: none;
    color: #000;
    right: 5%;
}

    .logout:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

.bodyStyle {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif';
    font-size: 15px;
}

.mainHeader {
    font-family: "Comic Sans MS", cursive;
    font-size: 60px;
    line-height: 66px;
    color: #000;
    text-align: center;
}

.cursiveText {
    font-family: "Comic Sans MS", cursive;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    text-align: center;
}
